<!DOCTYPE html>
<html>
<head>
  <title>BookApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p>This is a demo web application based on CodeAcademy pro's rails tutorial with some modifications done by Nicu Listana. Please visit <%=link_to "Code Academy", "http://codeacademy.com"%> for more amazing ruby on rails tutorials.</p>
<%= yield %>
</body>
</html>
